* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myulcss {
    font-size: 1.5rem;
    font-family: 'Pattaya';
}

.faq {
    padding-bottom: 4%;
    text-align: center;
}


.faqsec {
    padding: 0.3%;
    font-size: 1.2rem;
}

.mycardbody {
    margin-bottom: 1vh !important;
}

.faqheadermain {
    text-align: center;
    font-family: 'Pattaya';
    font-size: 3rem;
}

.card-body {
    font-family: 'Roboto',
        sans-serif;
    ;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.btn {
    overflow: hidden;
    font-family: 'Pattaya';
    text-align: left !important;
    font-size: 1.4rem !important;
    width: 100% !important;
    height: 60px !important;
    background-color: #8cbf3f !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#9453A6, #fcc20f);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8cbf3f;
}

.myfooter {
    background: linear-gradient(#fcc20f, #9453A6);
    background-repeat: no-repeat;
}

.myicons {
    width: 2rem;
}

.myicons:hover {
    border-radius: 12px;
    cursor: pointer;
    border: solid #8cbf3f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
    transition: 0.1s;
}

@media only screen and (max-width: 650px) {
    .faqheadermain {
        margin-top: 5%;
        font-size: 2rem;
    }

    .btn,
    .card-body {
        font-size: 1rem !important;

    }
}

@media only screen and (max-width: 500px) {

    .btn,
    .card-body {
        font-size: 0.77rem !important;

    }
}
