* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.myulcss {
    font-size: 1.5rem;
    font-family: 'Pattaya';
}

.myvideo h1 {
    font-size: 1.8rem;
    font-family: 'Pattaya';
    text-align: center;
    margin: auto;
}


.vid1 {
    border-radius: 30px;

}

.vid2 {
    border-radius: 30px;

}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#9453A6, #fcc20f);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8cbf3f;
}

.myfooter {
    background: linear-gradient(#fcc20f, #9453A6);
    background-repeat: no-repeat;
}

.myicons {
    width: 2rem;
}

.myicons:hover {
    border-radius: 12px;
    cursor: pointer;
    border: solid #8cbf3f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0);
    transition: 0.1s;
}

@media only screen and (max-width: 528px) {
    .myvideo h1 {
        font-size: 1.1rem;
    }
}
